.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}


/*shared style*/
.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.btn-pr{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: azure;
    padding: 15px 30px ;
    border: none;


}

.header{
    background-image: url('../Images/developer.png'), url('../Images/header_bg.png') ;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav styles*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}




.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
    
}

nav ul li{
    list-style: none;
    margin-right: 51px;

}

nav li a{
    text-decoration: none;
    font-size: 20px;
}

/*banner styles*/
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 50px 0 200px ;
}
.banner-greetings{
    font-size: 25px;
    font-weight: 60px;
}

.banner-title{
    font-weight: bolder;
    font-size: 100px;
}

.banner-pro-pic{
    width: 580px;
}
.banner-content{
    max-width: 580px;
}