.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}


/*shared style*/
.secondary-bg{
    background-color: #FFF8F3;

}
.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.btn-pr{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: azure;
    padding: 15px 30px ;
    border: none;


}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    font-size: 18px;
    color: #4e4c4c;

}

.header{
    background-image: url('../Images/developer.png'), url('../Images/header_bg.png') ;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav styles*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}




.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
    
}

nav ul li{
    list-style: none;
    margin-right: 51px;

}

nav li a{
    text-decoration: none;
    font-size: 20px;
}

/*banner styles*/
.banner{
    
    display: flex;
    justify-content: space-between;
    margin: 0 50px 0 200px ;
}
.banner-greetings{
    font-size: 25px;
    font-weight: 60px;
}

.banner-title{
    font-weight: bolder;
    font-size: 100px;
}

.banner-pro-pic{
    width: 580px;
}
.banner-content{
    max-width: 580px;
}

/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/*about styles*/
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}